@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h4>This is an application to show Grand Slams tennis winners and list of their Grand slam achievements.</h4>
<br/>
<p>Add to player - to add a player.</p>
<p>Edit - to edit the existing a player's record.</p>
<p>Display Details - to display a selected player.</p>
<p>Delete - to delete a player from the database.</p>
<br/>
<br/>
<p>You also filter the list of winners by choosing their gender ,or, and keying in a name (either first or surname).</p>